<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="list-group-item-heading">{{ contact.name }}</h2>
    <img [src]="contact.imgUrl"
         alt="{{ contact.name }}"
         style="max-height: 100px;">
    <div class="pull-right">
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
    </div>
  </div>
  <div class="panel-body">
    <p><strong>Email: </strong>{{ contact.email }}</p>
    <p><strong>Phone Number: </strong>{{ contact.phone }}</p>
  </div>
</div>
