<div class="panel panel-default">
  <div class="panel-heading">
    <div>
      <h3><strong>Contacts</strong></h3>
    </div>
    <div class="pull-right">
      <button class="btn btn-success">New Contact</button>
    </div>
  </div>
  <div class="panel-body">
    <a
      class="list-group-item"
      style="cursor:pointer"
      *ngFor="let contact of contacts"
    >
      <h4 class="list-group-item-heading">{{ contact.name }}</h4>
      <div class="pull-right">
      <img [src]="contact.imgUrl"
           alt="{{ contact.name }}"
           class="img-responsive"
           style="max-height: 50px;">
      </div>
    </a>
  </div>
</div>
